@import "tailwindcss";



/* ul{
    display: flex;
    gap: 20px;
} */
/* @utility container {
  margin-inline: auto;
} */

.navbarrow{
    flex: 1;
    height: 80px;
    align-content: center;
    padding: 0px 20px;
}

.navbarrow img{
width: 50px;
}


.bodyText{
    height: 120px;
    background-color: blue;
    align-content: center;
    text-align: center;
    color: aqua;
    font-weight: 700;
    border-radius: 25px;
}


.footer-row{
    height: 115px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
}

.bannerDo{
    background-color: aqua;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage{
    background-color: gainsboro;
    height: 399px;
}

    
.aboutTxt{
    background-color: aqua;
    height: 399px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt h2{
    padding: 0;
    margin-bottom: 50px;
}

.contact_lists{
    background-color: antiquewhite;
    height:66vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.servicesPart{
    background-color: thistle;
    font-weight: 700;
    color:blue;
}

/* .servicesPart{
        width: 100%;
        height: fit-content;
        color: blueviolet;
        border-radius: 25px;
    } */

.Sidenavbar-row{
width:flex;
height: 472px;
padding: 20px;
background-color:burlywood;
display: flex;
flex-direction: column;
gap: 50px;
align-items: center;
}

.Sidenavitems ul{
flex: 1;
display: flex;
flex-direction: column;
gap: 50px;
color: red;
font-size: 20px;
font-weight: 700;
padding: 0;
margin: 0;
}

/* .setrow{
    display: flex;
} */

.Products_row{
    background-color: rgb(243, 227, 227);
    /* height: 399px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.ButtonsVersion{
    height: 399px;
}

.bannerDo{
    height:399px;
}