@import "tailwindcss";



/* ul{
    display: flex;
    gap: 20px;
} */

.navbarrow{
    flex: 1;
    height: 80px;
    align-content: center;
}


.bodyText{
    height: 120px;
    background-color: blue;
    align-content: center;
    text-align: center;
    color: aqua;
    font-weight: 700;
    border-radius: 25px;
}

.bannerDo{
    background-color: aqua;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage{
    width: 100%;
    height: fit-content;
    color: blueviolet;
    border-radius: 25px;
    background-color: antiquewhite;
    border-radius: 25px;
}

.footer-row{
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
}

.servicesPart{
        width: 100%;
    height: fit-content;
    color: blueviolet;
    border-radius: 25px;
}
